/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================Here ends reset code================================*/

/*responsive images etc*/
img, embed, object, video {
max-width:100%;
    height:auto;
}

div, header, article, aside {
	padding: 2%;
	overflow:hidden;
	text-overflow:clip;
	font-family: Arial, sans-serif;
}

#container {
	max-width: 950px;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -1; /*w3:"The z-index property specifies the stack order of an element (which element
	should be placed in front of, or behind, the others)."*/	
}

#header{
	float:top;
	padding: 0%;
	padding-top: -50px;
	margin: 0%;
	max-width: 100%;
	height: auto;
	
	/*border: 1px solid black;*/
}

#menuwrapper {
	padding: 2%;
	max-width: 950px;
	height: auto;
	margin: 0%;
	float: top;
	float: left;
	width: 100%;
	
	/*border: 1px dotted black;*/
}

#listwrapper {
	list-style-type: none;
	display: inline;
	padding: 2%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
	/*border: 1px dotted green;*/
	
}

.menu {
	display: inline;
	float: left;
	max-width: 12%;
	width: 12%;
	height: auto;
	
	/*border: 1px dotted blue;*/
}

.menu a:hover, .menu a:focus, .current {
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid blue;
	background-color: #FFFFFF;
	color: blue;
	font-weight: bold;
	
	width: 90%;
	height: auto;
	overflow:hidden;
	text-overflow:clip;
	padding: 5%;
	float: left;
	text-align: center;	
}

.link {
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid #015666;
	background-color: #5FBDCE;
	color: #015666;
	width: 90%;
	height: auto;
	overflow:hidden;
	text-overflow:clip;
	padding: 5%;
	float: left;
	text-align: center;	
}

.link a:visited {
	color: blue;
	/*color: #015666; Come back to figuring out how to correct the color later, I suspect that handling the menu will handle that*/
}

#background {
	background-image:url("contentsidebarbg.png");
	padding: 1%;
	border-radius: 5px;
	margin-bottom: 1%;
	max-width: 100%;
	height: auto;
}

#content {
	width: 66%;
	max-width: 66%;
	/*background-image:url("contentbg.png");
	background-color: #7080D7;*/
	float: left;
	border-radius: 5px;
	height: auto;
	margin-bottom: 1%;
}

.byline {
	text-align: right;
	color: #FFFFFF;
	font-size: 10px;
}

#sidebar {
	width: 24;
	max-width: 24%;
	/*background-image:url("sidebarbg.png");
	background-color: #37B6CE;*/
	float: right;
	border-radius: 5px;
	height: auto;
	margin-bottom: 1%;
}

.sidebar {
	border-top: 2px solid #7080D7;
	padding-top: 10%;
	margin-bottom: 10%;
}

.sidebar:first-child {
	border: none;
	padding-top: 0%;
}
	

#footwrapper {
	clear: both;
	padding: 0%;
	max-width: 100%;
	margin: 0%;

	background-image:url("footerbg.png");
	background-color: #956BD6;
	
	border-radius: 5px;
	
	margin-bottom: 1%;
}

.footer {
	padding: 1%;
	float: left;
	width: 23%;
	height: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	
	overflow:hidden;
	text-overflow:clip;
	
	border-radius: 5px;
	
	
	/* The other way to create columns:
	
	/*-moz-column-count:4; /* Firefox */
	/*-webkit-column-count:4; /* Safari and Chrome */
	/*column-count:4;
	
	/*-moz-column-rule:3px outset #FFFFFF; /* Firefox */
	/*-webkit-column-rule:3px outset #FFFFFF; /* Safari and Chrome */
	/*column-rule:3px outset #FFFFFF;*/
} 

#cform {
	max-width: 35%;
	margin: 0% 30% 0% 30%;
	padding: 2%;
	float: right;
	border: 2px #015666 solid;
	background-color: #5FBDCE;
	color: #015666;
	border-radius: 5px;
	vertical-align:middle;
}

#cform input{
	border: 1px solid #5FBDCE;
	border-radius: 5px;
}

#cform textarea{
	border: 1px solid #5FBDCE;
	border-radius: 5px;
	}
		
h1 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

li {
	list-style-type: disc;
} 

.error {
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
}